<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit list
    </h1>

    <mat-form-field class="example-full-width">
      <mat-label>List name</mat-label>
      <input matInput placeholder="Example list..." value="" type="text"  #listTitleInput/>
    </mat-form-field>
    <br><br>
    <div class="buttons centered-content">
      <button mat-button color="primary"routerLink="/" >Cancel</button>
      <button mat-raised-button color="primary" (click)="updateList(listTitleInput.value)">Save</button>
    </div>


  </div>
</div>
